.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#FFFFDD none repeat scroll 0 0;border:1px solid #F0C020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(../../sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(../../sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;}
.facetapi-checkbox{margin-right:.5em;}.facetapi-disabled{opacity:0.4;filter:alpha(opacity = 40);}.facetapi-disabled a:hover{text-decoration:none;}
